* {
  box-sizing: border-box;
}

#root {
  background-color: #e8e8e8;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.area {
  margin: 10px auto;
  width: 100%;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.4);
}

.row {
  display: flex;
  width: 100%;
}

.column {
  width: 5%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  background-color: #32c5b9;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.wall {
  width: 100%;
  height: 100%;
  background-color: #1e4f8a;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}

.exit {
  color: #d8a822;
}